name: python-wheels

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-wheels-macosx-arm64:
    runs-on: macos-14
    env:
      python-executable: python3
      python-tag: cp313
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create virtual env
        run: ${{env.python-executable}} -m venv ~/.venv
      - name: Get dependencies for building and packaging
        run: |
          source ~/.venv/bin/activate
          ${{env.python-executable}} -m pip install conan build
      - name: Detect Conan profile
        run: |
          source ~/.venv/bin/activate
          conan profile detect --force
      - name: Install Lielab dependencies
        run: |
          source ~/.venv/bin/activate
          conan install . -s:a build_type=Release -s:a compiler.cppstd=gnu20 -o:a "&:with_python=True"
      - name: CMake Configure
        run: |
          source ~/.venv/bin/activate
          cmake --preset conan-release -DPYTHON_EXECUTABLE=${{env.python-executable}}
      - name: CMake Build
        run: |
          source ~/.venv/bin/activate
          cmake --build . --preset conan-release
      - name: Make Python wheel
        working-directory: ./python
        run: |
          source ~/.venv/bin/activate
          ${{env.python-executable}} -m build --wheel
      - name: Archive wheel
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.python-tag}}_macosx_14_0_arm64
          path: ./python/dist/*.whl
  
  test-wheels-macosx-arm64:
    runs-on: macos-14
    needs: build-wheels-macosx-arm64
    env:
      python-executable: python3
      python-tag: cp313
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download wheel file
        uses: actions/download-artifact@v4
        with:
          name: ${{env.python-tag}}_macosx_14_0_arm64
          path: ./python/dist
      - name: Create virtual env
        run: ${{env.python-executable}} -m venv ~/.venv
      - name: Install Python dependencies
        working-directory: ./python
        run: |
          source ~/.venv/bin/activate
          ${{env.python-executable}} -m pip install -e .[test]
      - name: Install Lielab on Python from wheel
        working-directory: ./python/dist
        run: |
          source ~/.venv/bin/activate
          ${{env.python-executable}} -m pip uninstall -y lielab
          ${{env.python-executable}} -m pip install --no-index --find-links=. lielab
      - name: Run tests
        run: |
          source ~/.venv/bin/activate
          ${{env.python-executable}} -m pytest python/tests
    
  build-wheels-linux-x86-64:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [{executable: python3.8, tag: cp38},
                 {executable: python3.9, tag: cp39},
                 {executable: python3.10, tag: cp310},
                 {executable: python3.11, tag: cp311},
                 {executable: python3.12, tag: cp312},
                 {executable: python3.13, tag: cp313},
                 {executable: python3.14, tag: cp314}]
    container:
      image: quay.io/pypa/manylinux_2_28_x86_64
      options: --cpus 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Ensure pip is installed
        run: python3 -m ensurepip --upgrade
      - name: Get dependencies for building and packaging
        run: ${{matrix.python.executable}} -m pip install conan build auditwheel
      - name: Get Conan for dependencies
        run: pip3 install conan
      - name: Detect Conan profile
        run: conan profile detect --force
      - name: Install Lielab dependencies
        run: conan install . -s:a build_type=Release -s:a compiler.cppstd=gnu20 -o:a "&:with_python=True"
      - name: CMake Configure
        run: cmake --preset conan-release -DPYTHON_EXECUTABLE=${{matrix.python.executable}}
      - name: CMake Build
        run: cmake --build . --preset conan-release
      - name: Make Python wheels
        working-directory: ./python
        run: |
          ${{matrix.python.executable}} -m build --wheel
          ${{matrix.python.executable}} -m auditwheel show dist/*.whl
          ${{matrix.python.executable}} -m auditwheel repair dist/*.whl
          rm -f dist/*.whl
          cp wheelhouse/*.whl dist/
      - name: Archive wheel
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.python.tag}}_manylinux_2_28_x86_64
          path: ./python/dist/*.whl

  test-wheels-linux-x86-64:
    runs-on: ubuntu-latest
    needs: build-wheels-linux-x86-64
    strategy:
      matrix:
        python: [{executable: python3.8, tag: cp38},
                 {executable: python3.9, tag: cp39},
                 {executable: python3.10, tag: cp310},
                 {executable: python3.11, tag: cp311},
                 {executable: python3.12, tag: cp312},
                 {executable: python3.13, tag: cp313},
                 {executable: python3.14, tag: cp314}]
    container:
      image: quay.io/pypa/manylinux_2_28_x86_64
      options: --cpus 1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download wheel file
        uses: actions/download-artifact@v4
        with:
          name: ${{matrix.python.tag}}_manylinux_2_28_x86_64
          path: ./python/dist
      - name: Install Python dependencies
        working-directory: ./python
        run: |
          ${{matrix.python.executable}} -m pip install -e .[test]
      - name: Install Lielab on Python from wheel
        working-directory: ./python/dist
        run: |
          ${{matrix.python.executable}} -m pip uninstall -y lielab
          ${{matrix.python.executable}} -m pip install --no-index --find-links=. lielab
      - name: Run tests
        working-directory: ./python/tests
        run: ${{matrix.python.executable}} -m pytest .
